body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

.orange {
    color: orange;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;


}

.half-width image {
    width: 40%;
    height: 20%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;

}

.dream-big {
    margin-top: 100px;
}

.experience-area {
    background-image: url(d.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    margin-bottom: 10%;
    box-shadow: 10px 10px 40px gray;


}

#web-dev {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#full-stak {
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}